.bodyCover {
	margin : 5% 10% 10% 10%;	
}


body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}


/* Header */

.logoStyle {
	height: 80px;
    width: 100px;
}


.headerSeparators {
	border : solid 2px;
	color : #ddd;
	margin-top: 0px;
}


.jobTitle {
	font-weight: 500;    
}


/*
 *
 * Navigation
 *
 */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}


.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 10px;
  text-transform: uppercase;
}


.nav a {
  text-decoration: none;
  color: #616161;
  padding: 48px;
}


.nav a:hover {
  text-decoration: underline;
  color: #212121;
}


/* Content Style */
.folioStyle {
	width : 100%;
}


.paraText {	
	margin-left: 1em;
}


.services {	
	width: 100%;
    padding-left: 0.5em;
}


.watermelon {
	height: 256px;
}


.serviesContent {
	margin-bottom: 2em;
}


.secondImage {
	border-radius: 100px 20px;
}


.imgAlign {
   text-align: center;
}

/*
 *
 * Footer
 *
 */

footer {
  border-top: 2px solid #E0E0E0;
  padding: 1em;
  width: 100%;
}


footer li {
  display: inline-block;
  margin: 0 1em;
}


footer a {
  text-decoration: none;
  color: #333;
}


